<!-- 左侧导航 -->
<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">客房管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">客房预订</a></dd>
                <dd><a href="javascript:;">客房状态</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">财务管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">每日收入</a></dd>
                <dd><a href="javascript:;">物料清单</a></dd>
                <dd><a href="javascript:;">员工工资</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">员工管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">入职/离职</a></dd>
                <dd><a href="javascript:;">员工绩效</a></dd>
                <dd><a href="javascript:;">员工合同</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">账户管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改密码</a></dd>
            </dl>
        </li>
    </ul>
</div>
